    .row {
        margin-top: 15%;
        left: 50%;
    }
    
    .material-icons {
        color: #e66c73;
    }
    
    .input-field input:focus+label {
        color: #e66c73 !important;
    }
    
    .row input:focus {
        color: #e66c73 !important;
        border-bottom: 1px !important;
        box-shadow: 0 1px 0 0!important
    }